{% extends 'base.html' %}
{% block title %}チャット{% endblock %}
{% block content %}
<h1 class="mb-3">チャット</h1>
<ul class="list-group chat-list">
  {% for u in users %}
  {% if as_admin %}
  <a href="{{ url_for('admin_chat', user_id=u['id']) }}" class="list-group-item list-group-item-action">
    <div class="chat-avatar">{{ u['name'][:1] }}</div>
    <span>{{ u['name'] }}</span>
  </a>
  {% else %}
  <a href="{{ url_for('chat', partner_id=u['id']) }}" class="list-group-item list-group-item-action">
    <div class="chat-avatar">{{ u['name'][:1] }}</div>
    <span>{{ u['name'] }}</span>
  </a>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}
